name: Regenerate profile README.md

on:
  push:
    branches:
      - main
  schedule:
    - cron: "33 4 * * *"
  workflow_dispatch:

permissions:
  contents: write
  actions: read

jobs:
  generate:
    runs-on: ubuntu-latest
    environment: "Profile regeneration"
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache cargo & target directories
        uses: Swatinem/rust-cache@v2

      - name: Build generator
        run: cargo build

      - name: Configure Git
        run: |
          git config --global user.email "murderbot@example.com"
          git config --global user.name "Murderbot"

      - name: Run generator and commit changes
        run: |
          set -e
          set -x
          RUST_LOG=info GITHUB_TOKEN=${{ github.token }} ./target/debug/generator
          if [[ $(git status --porcelain) ]]; then
              git commit -a -m 'Regenerated profile README.md'
              git push
          fi
